
<h1> Your Dashboard </h1>


<a href="https://www.smartmanagement-its.com/" target="blank" class="align-items-center d-flex justify-content-center mt-5 text-nowrap text-reset w-100">
    Powered by
    <img src={Routes.static_path(@conn, "/assets/img/smit-logo-mix-brand.png")} alt="" width="100px" class="ml-2">
</a>


